@model IEnumerable<GYM_MN_FE_MEMBER.Models.MembershipTypeViewModel>

@{
    ViewData["Title"] = "MembershipTypes";
}

<h1>MEMBERSHIP</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form action="@Url.Action("SelectMembershipType", "MembershipTypes")" method="post">
                    <input type="hidden" name="membershipTypeId" value="@item.MembershipTypeId" />
                    <button type="submit">Select</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
